body{
   line-height: 1.5;
   font-family: Lato,sans-serif;
   color: black;
}
.to{
    padding-top: 100px;
}
.t1 img{
  width: 100%;
}
.to1 img{
  float: left;
  width: 60%;
  height: 400px;
}
.to2{
  text-align: center;
  margin-bottom: 30px;
}
.to1 h4{
 display: flex;
 justify-content: center;
}
.to3{
  padding-top: 8%;
}
h1{
  color: #02075d;
  text-transform: uppercase;
}
.jam{
  font-size: 17px;
}
.b1{
  float: right;
  color:#02075d;
}
.button {
  background-color: #02075d; 
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}
.button1 {
  background-color: darkgrey; 
  color: black;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
}
.button5 {border-radius: 12px;}
.hrtag {
  border-bottom-style: solid;
  text-align: center;
  color: #02075d;
}
.features{
  text-align: center;
  margin:0px 0px 20px;
}